<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Store
      <small>Stuff at the grocery store.</small>
    </h1>
  </div>
</div>
<!-- /.row -->

<div>
  <!-- Products Row -->
  <div class="row item-list">
    <div class="col-md-3 portfolio-item">
      <div class="item-preview"></div>
    </div>
  </div>
  <!-- /.row -->
  <!-- new item -->
  <div class="row item-list">
    <div class="col-md-3 portfolio-item">
      <div class="new-item"><p class="new-item-text">Add new item</p></div>
    </div>
  </div>
  <!-- /new item -->
</div>
